@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext');

/* 
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Mono', monospace;
 */

html{
    background: #fff;
       display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

body{
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #555;
    display: inline-block;
}

img{
    height: 20px;
    width: auto;
}

.header{
    width: 50%;
    min-width: auto;
    height: 5%;
    margin: 0 auto 10px;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 20px 20px;
    border-bottom: 5px rgb(111, 111, 111) solid;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 3px 10px 0px rgb(200, 200, 200);
    font-family: 'Roboto Slab', serif;
    color: rgb(111, 111, 111);
    font-size: 2em;
    text-align: center;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.wrapper-calc{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calc1{
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    border-bottom: 5px rgb(111, 111, 111) solid;
    box-shadow: 0 3px 10px 0px rgb(200, 200, 200);
    color: rgb(111, 111, 111);
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-items: center;    
}

.calc2{
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    border-bottom: 5px rgb(111, 111, 111) solid;
    box-shadow: 0 3px 10px 0px rgb(200, 200, 200);
    color: rgb(111, 111, 111);
    text-align: center;
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-items: center;

}


.input-css{
    width: 75%;
    min-width: 300px;
    border: 2px solid rgb(111, 111, 111);
    border-radius: 10px;
    color: rgb(111, 111, 111);
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    text-align: center;
    outline: none;
}

.push-btn-1, .push-btn-2{
    width: 100%;
    border: 2px solid rgb(111, 111, 111);
    border-radius: 10px;
    color: rgb(111, 111, 111);
    font-size: 1em;
    text-align: center;
    outline: none;
}

:active .push-btn-1, .push-btn-2{
    border: none;
}

.output-1, .output-2{
    color: rgb(255, 0, 0);
}
    
.footer{
    width: 50%;
    min-width: auto;
    height: 5%;
    margin: 10px auto 0;
    padding: 10px 10px 0 10px ;
    border-radius: 20px 20px 0 0;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 -3px 10px 0px rgb(200, 200, 200);
    color: rgb(111, 111, 111);
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 750px) and (max-width: 950px) {
    .header{font-size: 1.5em;}
    .footer{font-size: 0.75em;}
    .push-btn-1, .push-btn-2{font-size: 0.8em;}
    .calc1, .calc2{ font-size: 1.5em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 200px;}
}

@media (min-width: 575px) and (max-width: 749px){
    .header{width: 70%; font-size: 1.5em;}
    .footer{width: 70%; font-size: 0.75em;}
    .push-btn-1, .push-btn-2{font-size: 0.8em;}
    .calc1, .calc2{width: 90%; font-size: 1.5em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 150px;}
}

@media (min-width: 500px) and (max-width: 574px){
    .header{width: 85%; font-size: 1.25em;}
    .footer{width: 85%; font-size: 0.6em;}
    .push-btn-1, .push-btn-2{font-size: 0.8em;}
    .calc1, .calc2{width: 90%; font-size: 1.25em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 120px;}
}

@media (min-width: 390px) and (max-width: 499px){
    .header{width: 85%; font-size: 1.25em;}
    .footer{width: 85%; font-size: 0.6em;}
    .push-btn-1, .push-btn-2{font-size: 0.8em;}
    .calc1, .calc2{width: 90%; font-size: 1.25em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 100px;}
}

@media (min-width: 370px) and (max-width: 389px){
    .header{width: 85%; font-size: 1.25em;}
    .footer{width: 85%; font-size: 0.6em; padding-top: 5px}
    .push-btn-1, .push-btn-2{font-size: 0.8em;}
    .calc1, .calc2{width: 90%; font-size: 1.15em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 80px;}
}

@media (min-width: 315px) and (max-width: 369px){
    .header{width: 85%; font-size: 1.15em;}
    .footer{width: 85%; font-size: 0.5em; padding-top: 5px}
    .push-btn-1, .push-btn-2{font-size: 0.6em;}
    .calc1, .calc2{width: 90%; font-size: 1em;}
    .calc1{height: 40%; padding-top: 25px}
    .calc2{height: 20%; padding-top: 25px}
    .input-css{width: 100%; min-width: 70px;}
}
